{% extends 'base.html.twig' %}

{% block title %}CategoryController!{% endblock %}

{% block body %}
    <h3>Gérer les catégories</h3>
    <div class="responsive-table-2">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Parent</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.parent}}</td>
                    <td class="text-center">
                        <a href="{{path('admin_category_modifier', {id: category.id}) }}" class="btn shadow-1 rounded-1 blue">Modifier une catégorie</a>
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
        <a href="{{path('admin_category_ajout')}}" class="btn shadow-1 rounded-1 blue">Ajouter une catégorie</a>
        
    </div>
{% endblock %}
